@font-face {
    font-family: "OngleleafLeeHyun";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafLeeHyun/OngleleafLeeHyun.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafLeeHyun/OngleleafLeeHyun.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafLeeHyun/OngleleafLeeHyun.ttf") format("truetype");
    font-display: swap;
}

.OngleleafLeeHyun {
    font-family: "OngleleafLeeHyun";
}
